/*  
font-family: 'Open Sans', sans-serif;

font-family: 'Raleway', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 1000vh;
}

.container {
    max-width: 1352px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1352px;
    height: 50px;
    padding: 31px 0;
}

.header__wrapper a.Logo {
    display: block;
    margin-left: 40px;
    color: #08A6E4;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 300;

}

.header__wrapper ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

.header__wrapper li {
    display: block;
}

.header__wrapper li a {
    display: block;
    padding: 20px 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #A5A5A5;
    text-decoration: none;
    border-bottom: 3px solid #FFFFFF;
    border-top: 3px solid #FFFFFF;
}

.header__wrapper li:last-of-type {
    margin-right: 40px;
}

.header__wrapper li a:hover {
    border-bottom: 3px solid #08A6E4;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main .open__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    /* height: 100vh;
    background-color: yellow;*/
}

main .open__section h1 {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 47px;
    color: #000000;
}

main .open__section p {
    display: block;
    padding-top: 25px;
    padding-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

main .open__section a {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #08A6E4;
    padding: 10px 70px;
    border-radius: 20px;
    text-decoration: none;
}

/*
main .open__section div {
    position: relative;
    width: 100%;
    height: 60vh;
}

main .open__section img {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
*/

main .open__section div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}


main .statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    padding: 20px 0;
}

main .statistic h2 {
    display: block;
    padding-top: 50px;
    text-align: center;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
}

main .statistic .statistic_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
}

main .statistic .statistic_wrapper article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
    width: 33%;
    height: 100%;
}

main .statistic div article div {
    position: relative;
    height: 63px;
    width: 63px;
    text-align: center;
    border-radius: 50%;
}

main .statistic div article:nth-of-type(1) div {
    background-color: #FB3B64;
}

main .statistic div article:nth-of-type(2) div {
    background-color: #08A6E4;
}

main .statistic div article:nth-of-type(3) div {
    background-color: #55DFB4;
}

main .statistic div article div img {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 50%;
    z-index: 5;
}

main .statistic div article p {
    display: block;
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
}

main .statistic div article span {
    display: block;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 6px;
    padding-top: 10px;
}